.searchbar {
    &__form {
        // background: #316282;
        // background: #858585;
        background: $light-blue;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
        border-radius: 0.25rem;
        border: 1px solid rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 0px rgb(255 255 255 / 20%);
        color: white;
        padding: 0.75rem;
        padding-left: 1.5rem;
        margin-top: 3rem;
        margin-right: auto;
        position: relative;
        ::placeholder {
            color: white;
            text-transform: uppercase;
        }
        @media screen and (min-width: $lg_breakpoint) {
            width: 50%;
            padding: 1.2rem;
            padding-left: 1.5rem;
        }
        input[type="search"] {
            font-size: $font-size-lg;
        }
    }
    &__icons {
        // color: #858585;
        color: white;
        font-size: 1.3rem;

        margin-right: 0.3rem;
        @media screen and (min-width: $sm_breakpoint) {
            font-size: 1.7rem;
        }
        @media screen and (min-width: $md_breakpoint) {
            font-size: 2.7rem;
            margin-right: 0.8rem;
        }
    }
    &__input {
        font-size: 1.2rem;
        background: transparent;
        color: white;

        &:focus {
            box-shadow: none;
        }
        border: none;
        outline: none;
        margin: none;
        width: 100%;
        font-size: 1rem;

        @media screen and (min-width: $md_breakpoint) {
            font-size: 1.3rem;
        }
    }
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

.matchContainer {
    opacity: 1;

    @media screen and (min-width: $sm_breakpoint) {
        width: 34rem;
    }
    @media screen and (min-width: $md_breakpoint) {
        width: 50rem;
    }
    width: 28rem;
    position: absolute;
    top: 3rem;
    left: 0.2rem;
    z-index: 3;
    transition: opacity 0.2s ease-in;
    box-shadow: 0 0 12px #000000;
}

.nominate-button--disabled {
    cursor: default;
    background: red;
    font-size: $font-size-md;
    border: 1px solid red;
    &:hover {
        background: red;
        border: 1px solid red;
    }
}

.search-for-title {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-lg;
    line-height: 2;
    margin-top: 0;
}
