.home-content-section {
    padding: 0rem 3rem;
    @media screen and (min-width: $md_breakpoint) {
        padding: 0rem 5rem;
    }
}
.search-and-nominee-title {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-xxl;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.nominee-media {
    &__container {
        min-height: 10rem;
        position: relative;
        margin-top: 2.5rem;
        margin-bottom: 10rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        row-gap: 5rem;
        @media screen and (min-width: $sm_breakpoint) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1.5rem;
            row-gap: 5rem;
        }
        @media screen and (min-width: $xl_breakpoint) {
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 1.5rem;
        }
    }
    &__selected {
        display: block;
        position: absolute;
        overflow: hidden;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);

        h1 {
            font-size: 1.2rem;
            text-transform: uppercase;
            margin: 1.5rem 3rem;
            @media screen and (min-width: $lg_breakpoint) {
                font-size: 1.4rem;
                margin: 2.5rem 4rem;
            }
            &:after {
                content: "";
                left: -2rem;
                top: 0.8rem;
                @media screen and (min-width: $lg_breakpoint) {
                    top: 1.2rem;
                }
                width: 100%;
                height: 100%;
                transform: skew(-35deg);
                position: absolute;
                z-index: -1;
                background: red;
            }
        }
        &--no {
            display: none;
        }
    }
}

.no-result-text {
    text-transform: uppercase;
    position: absolute;
    top: -2rem;
    margin: 0;
    margin-top: 1rem;
    font-size: $font-size-lg;
}

.nominee-media {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    img {
        width: 100%;
        height: 22rem;
        object-fit: cover;
        @media screen and (min-width: $sm_breakpoint) {
            height: 35rem;
        }
        @media screen and (min-width: $lg_breakpoint) {
            height: 45rem;
        }
        transition: all 0.5s ease;
        &:hover {
            transition: all 0.5s ease;
            object-position: 70% 70%;
        }
    }

    &__text-wrap {
        text-transform: uppercase;
        margin-top: 1.5rem;
        h1 {
            margin: 0;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: $font-size-md;
        }
        p {
            color: #858585;
            font-weight: bold;
            margin: 0;
            margin-top: 0.5rem;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
        }
    }
}

.nominate-button,
.remove-button {
    margin-top: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    background: transparent;
    border-radius: 0.25rem;
    color: white;
    padding: 2rem;
    border: 1px solid white;
    &:hover {
        border: 0.1rem solid $light-blue;
        transition: all 0.2s ease-in;
        background: $light-blue;
    }
    font-size: $font-size-md;
}

@keyframes floatingIronMan {
    from {
        transform: translate3d(0px, 5%, 0px);
    }
    to {
        transform: translate3d(0px, 0px, 0px);
    }
}

.intro-banner {
    position: relative;
    @media screen and (min-width: $md_breakpoint) {
        min-height: 10rem;
    }
    @media screen and (min-width: $lg_breakpoint) {
        min-height: 10rem;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__text-wrap {
        padding: 3rem 0;
        width: 100%;
        @media screen and (min-width: $sm_breakpoint) {
            width: 75%;
        }

        &-title {
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-size: $font-size-xxl;
        }
        &-desc {
            margin: 0;
            text-transform: uppercase;
            // font-size: 1.3rem;
            // @media screen and (min-width: $md_breakpoint) {
            //     font-size: 2rem;
            // }
            font-size: $font-size-lg;
            line-height: 2;
        }
    }
}

.nasa-image {
    width: 12rem;
    height: 12rem;
    position: absolute;
    right: -2%;
    bottom: -30%;
    animation: floatingIronMan 2s infinite alternate;
    display: none;

    @media screen and (min-width: $md_breakpoint) {
        width: 23rem;
        height: 20rem;
        display: block;
    }
    @media screen and (min-width: $lg_breakpoint) {
        width: 28rem;
        height: 25rem;
        bottom: -7rem;
    }
}
